/* https://www.joshwcomeau.com/css/custom-css-reset/ */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

input, button, textarea, select {
  font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

#root, #__next {
  isolation: isolate;
}

/* end of reset */

body {
  height: 100vh;
  display: grid;
  grid-template-rows: max-content 1fr;
}

.header {
  background-color: orange;
}

dialog {
  top: 50%;
  left: 50%;
}

.content {
  display: grid;
  justify-content: center;
  /* grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); */
  grid-template-columns: repeat(3, 300px);
  grid-auto-rows: 300px;
  gap: 30px;
}


.card {
  background-color: blue;
}

